
0Shamdev.TOA/TOA.Core.Data/obj/
0Shamdev.TOA/TOA.BLL/obj/
0Shamdev.TOA/TOA.DAL/obj/
0Shamdev.TOA/TOA.WEB/obj/
0Shamdev.TOA/TOA.Core.Data/bin/
0Shamdev.TOA/TOA.BLL/bin/
0Shamdev.TOA/TOA.DAL/bin/
0Shamdev.TOA/TOA.WEB/bin/
0Shamdev.TOA/UnitTestProject/obj/
0Shamdev.TOA/UnitTestProject/bin/

1Example/Core.Data/obj/
1Example/BLL.Common/obj/
1Example/DAL.Common/obj/
1Example/RegisterHouse/obj/
1Example/Core.Data/bin/
1Example/BLL.Common/bin/
1Example/DAL.Common/bin/
1Example/RegisterHouse/bin/
1Example/RegisterHouse/wwwroot/
1Example/ClientApp/

4APP/Service/TestClient/bin/
4APP/Service/TestClient/obj/
.vs/RegisterHouse/v16/TestStore/0/000.testlog
.vs/RegisterHouse/v16/TestStore/0/testlog.manifest
.vs/RegisterHouse/v16/.suo
.vs/RegisterHouse/config/applicationhost.config

.vs/RegisterHouse/v16/TestStore/0/051.testlog
.vs/RegisterHouse/DesignTimeBuild/.dtbcache.v2
.vs/RegisterHouse/DesignTimeBuild/.dtbcache.v2
